<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <script type='text/javascript'>
        window.smartlook || (function (d) {
            var o = smartlook = function () {
                o.api.push(arguments)
            }, h = d.getElementsByTagName('head')[0];
            var c = d.createElement('script');
            o.api = new Array();
            c.async = true;
            c.type = 'text/javascript';
            c.charset = 'utf-8';
            c.src = 'https://web-sdk.smartlook.com/recorder.js';
            h.appendChild(c);
        })(document);
        smartlook('init', 'ca5dad74e4686bf7fe9575ca78620f1f7f703c71', {region: 'eu'});
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CupcakeWorld | Acessar</title>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="/dist/css/adminlte.min.css">
</head>
<body class="hold-transition login-page">
<div class="login-box">
    <!-- /.login-logo -->
    <div class="row">
        <div class="col-12 mb-2">
            {{template "snippets/message" .}}
        </div>
    </div>
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <a href="/auth/login" class="h1">
                <b>Cupcake</b>World </a>
        </div>
        <div class="card-body">
            <p class="login-box-msg">Acesse sua conta para iniciar a sessão</p>
            <form method="post">
                <div class="input-group mb-3">
                    <input type="email" class="form-control" id="email" name="email" placeholder="E-mail do usuário"
                           required="required">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-at"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control password-field" id="password" name="password"
                           placeholder="Senha do usuário" minlength="8" required="required"/>
                    <div class="input-group-append">
                        <button id="show-password-button" class="input-group-text show-password-button" type="button">
                            <span id="show-password-icon" class="fas fa-eye"></span>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block">Acessar</button>
                    </div>
                </div>
                <p class="mb-0 mt-2 text-center">
                    <a href="/auth/register" class="text-center">Clique aqui para fazer o registro</a>
                </p>
            </form>
        </div>
    </div>
</div>
<script src="/plugins/jquery/jquery.min.js"></script>
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/dist/js/adminlte.min.js"></script>
{{template "auth/scripts/password"}}
</body>
</html>
