<!DOCTYPE html>
<html lang="en">
<head>
    <script type='text/javascript'>
        window.smartlook||(function(d) {
            var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
            var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
            c.charset='utf-8';c.src='https://web-sdk.smartlook.com/recorder.js';h.appendChild(c);
        })(document);
        smartlook('init', 'ca5dad74e4686bf7fe9575ca78620f1f7f703c71', { region: 'eu' });
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>CupcakeWorld | Panel de Administrador</title>
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="/plugins/overlayScrollbars/css/OverlayScrollbars.min.css" />
    <!-- Theme style -->
    <link rel="stylesheet" href="/dist/css/adminlte.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<!-- Site wrapper -->
<div class="wrapper">
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button">
                    <i class="fas fa-bars"></i>
                </a>
            </li>
        </ul>
        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                    <i class="fas fa-expand-arrows-alt"></i>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /.navbar -->
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar main-sidebar-custom sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="/dashboard" class="brand-link">
            <img src="/dist/img/logo.png" alt="Cupcake Logo" class="brand-image img-circle" style="opacity: 0.8;" />
            <span class="brand-text font-weight-light">CupcakeWorld</span>
        </a>
        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user (optional) -->
            <div class="user-panel mt-2 text-center">
                <div class="info">
                    <a href="/users/user/{{.Profile.UserID}}" class="d-block">{{.Profile.User.Email}}</a>
                </div>
            </div>
            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <!-- Store Menu -->
                    <li class="nav-item">
                        <a href="/store" class="nav-link">
                            <i class="nav-icon fas fa-shopping-cart"></i>
                            <p>Acessar Loja</p>
                        </a>
                    </li>
                    <!-- Dashboard Menu -->
                    <li class="nav-item">
                        <a href="/dashboard" class="nav-link">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <!-- Order Menu -->
                    <li class="nav-item">
                        <a href="/orders" class="nav-link">
                            <i class="nav-icon fas fa-money-bill"></i>
                            <p>Pedidos</p>
                        </a>
                    </li>
                    <!-- User Menu -->
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-user-alt"></i>
                            <p>Usuários <i class="right fas fa-angle-left"></i></p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/users/create" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Adicionar Usuário</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/users" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Usuários Registrados</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- Product Menu -->
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-list-alt"></i>
                            <p>Produtos <i class="right fas fa-angle-left"></i></p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/products/create" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Adicionar Produto</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/products" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Produtos Cadastrados</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- Stock Menu -->
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-box"></i>
                            <p>Estoque <i class="right fas fa-angle-left"></i></p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/stock/create" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Gerenciar Estoque</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/stock" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Movimentações</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- Config Menu -->
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-cog"></i>
                            <p>Config. da Loja <i class="right fas fa-angle-left"></i></p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/config/address" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Endereço</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/config/delivery" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Entrega</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/config/payment" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Pagamento</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/config/pix" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Pix</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
        <div class="sidebar-custom">
            <a href="/auth/logout" class="btn btn-secondary btn-sm btn-block"> <i class="fas fa-sign-out-alt"></i> Sair </a>
        </div>
        <!-- /.sidebar-custom -->
    </aside>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        {{embed}}
    </div>
    <!-- /.content-wrapper -->
    <!-- Main Footer -->
    <footer class="main-footer">
        <!-- To the right -->
        <div class="float-right d-none d-sm-inline">
            {{now | date "2006"}}
        </div>
        <!-- Default to the left -->
        <strong>CupCakeStore - Admin</strong>
    </footer>
</div>
<!-- ./wrapper -->
<!-- jQuery -->
<!-- Bootstrap 4 -->
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- overlayScrollbars -->
<script src="/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<!-- AdminLTE App -->
<script src="/dist/js/adminlte.min.js"></script>
<script>
    $(document).ready(function () {
        const currentUrl = window.location.pathname;
        const navLink = $(`.nav-link[href='${currentUrl}']`);
        if (navLink.length > 0) {
            navLink.addClass("active");
            navLink.parents(".nav-treeview").prev(".nav-link").addClass("active");
            navLink.parents(".has-treeview").children(".nav-link").addClass("active");
            navLink.parents(".nav-item").addClass("menu-open");
        }
    });
</script>
</body>
</html>
