<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <script type='text/javascript'>
        window.smartlook || (function (d) {
            var o = smartlook = function () {
                o.api.push(arguments)
            }, h = d.getElementsByTagName('head')[0];
            var c = d.createElement('script');
            o.api = new Array();
            c.async = true;
            c.type = 'text/javascript';
            c.charset = 'utf-8';
            c.src = 'https://web-sdk.smartlook.com/recorder.js';
            h.appendChild(c);
        })(document);
        smartlook('init', 'ca5dad74e4686bf7fe9575ca78620f1f7f703c71', {region: 'eu'});
    </script>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>CupcakeWorld | Loja</title>

    <!-- Google Font: Source Sans Pro -->
    <style>
        @font-face {
            font-family: "Source Sans Pro";
            font-style: italic;
            font-weight: 400;
            src: url(https://fonts.gstatic.com/s/sourcesanspro/v22/6xK1dSBYKcSV-LCoeQqfX1RYOo3qPZ7nsDc.ttf) format("truetype");
        }

        @font-face {
            font-family: "Source Sans Pro";
            font-style: normal;
            font-weight: 300;
            src: url(https://fonts.gstatic.com/s/sourcesanspro/v22/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdr.ttf) format("truetype");
        }

        @font-face {
            font-family: "Source Sans Pro";
            font-style: normal;
            font-weight: 400;
            src: url(https://fonts.gstatic.com/s/sourcesanspro/v22/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7g.ttf) format("truetype");
        }

        @font-face {
            font-family: "Source Sans Pro";
            font-style: normal;
            font-weight: 700;
            src: url(https://fonts.gstatic.com/s/sourcesanspro/v22/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwlxdr.ttf) format("truetype");
        }
    </style>
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css"/>
    <!-- Theme style -->
    <link rel="stylesheet" href="/dist/css/adminlte.min.css"/>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body class="hold-transition layout-top-nav" style="background-color: #f4f6f9 !important;">
<div class="wrapper">
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
        <div class="container">
            <a href="/" class="navbar-brand">
                <img src="/dist/img/logo.png" alt="AdminLTE Logo" class="brand-image img-circle"
                     style="opacity: 0.8;"/>
                <span class="brand-text font-weight-light">CupcakeWorld</span>
            </a>

            <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse order-3" id="navbarCollapse">
                <!-- Left navbar links -->
                <ul class="navbar-nav">
                    <li class="nav-item d-flex">
                        <a href="/" class="nav-link">
                            <i class="fas fa-store-alt"></i>
                            Vitrine da Loja
                        </a>
                    </li>
                    <li class="nav-item d-flex">
                        <a class="nav-link" data-widget="navbar-search" href="/cart" role="button">
                            <i class="fas fa-shopping-cart"></i>
                            Meu Carrinho (<span id="cart-count">0</span>)
                        </a>
                    </li>
                    <li class="nav-item d-flex">
                        <a class="nav-link" data-widget="navbar-search" href="/orders" role="button">
                            <i class="fas fa-file-invoice"></i>
                            Meus Pedidos
                        </a>
                    </li>
                    {{ if and .Profile .Profile.User }}
                        <li class="nav-item d-flex align-items-center">
                            <a href="/profile/{{.Profile.User.ID}}" class="nav-link">{{.Profile.User.Email}}</a>
                        </li>
                        <li class="nav-item d-flex align-items-center justify-between">
                            {{if .Profile.User.IsStaff}}
                                <a href="/dashboard" class="btn btn-sm btn-primary mr-2 mt-1">Painel Admin</a>
                            {{end}}
                            <a href="/auth/logout" class="btn btn-sm btn-danger mt-1"> <i
                                        class="fas fa-sign-out-alt"></i> Sair
                            </a>
                        </li>
                    {{else}}
                        <li class="nav-item d-flex align-items-center">
                            <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="/auth/login"
                               role="button"> <i class="fas fa-user"></i> Fazer Login/Cadastro </a>
                        </li>
                    {{end}}
                </ul>
            </div>

        </div>
    </nav>

    <!-- /.navbar -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        {{embed}}
    </div>
    <!-- /.content-wrapper -->

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->

    <!-- Main Footer -->
    <footer class="main-footer">
        <!-- To the right -->
        <div class="float-right d-none d-sm-inline">
            {{now | date "2006"}}
        </div>
        <!-- Default to the left -->
        <strong>CupCakeWorld</strong>
    </footer>
</div>
<!-- jQuery -->
<script src="/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
{{ if and .Profile .Profile.User }}
    <script>
        $(document).ready(function () {
            function getCartCount() {
                $.getJSON('/cart/count', function (data) {
                    $('#cart-count').text(data.itemCount);
                }).fail(function (error) {
                    console.error(error);
                });
            }

            getCartCount();
        });
    </script>
{{end}}
</body>
</html>
